<div id="waveform"></div>

<div class="row">
  <div class="col-lg-12 d-flex justify-content-center">
    <button
      matTooltip="Add to library"
      class="mx-1"
      [disabled]="isDataLoaded"
      *ngIf="!isAddedToPLaylist && audioFile"
      color="primary"
      (click)="addToPlaylist()"
      mat-mini-fab
    >
      <mat-icon>playlist_add</mat-icon>
    </button>
    <button
      matTooltip="Remove from library"
      class="mx-1"
      [disabled]="isDataLoaded"
      *ngIf="isAddedToPLaylist"
      color="primary"
      (click)="removeFromPlayList()"
      mat-mini-fab
    >
      <mat-icon>playlist_add_check</mat-icon>
    </button>
    <button
      matTooltip="Replay"
      class="mx-1"
      [disabled]="isDataLoaded"
      color="primary"
      (click)="restartAudio()"
      mat-mini-fab
    >
      <mat-icon>replay</mat-icon>
    </button>
    <button
      matTooltip="Play"
      class="mx-1"
      [disabled]="isDataLoaded"
      color="primary"
      *ngIf="!isPlaying"
      (click)="playAudio()"
      mat-mini-fab
    >
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button
      matTooltip="Pause"
      class="mx-1"
      [disabled]="isDataLoaded"
      color="primary"
      *ngIf="isPlaying"
      (click)="pauseAudio()"
      mat-mini-fab
    >
      <mat-icon>pause</mat-icon>
    </button>
    <button
      matTooltip="Stop"
      class="mx-1"
      [disabled]="isDataLoaded"
      color="primary"
      (click)="stopAudio()"
      mat-mini-fab
    >
      <mat-icon>stop</mat-icon>
    </button>
  </div>
</div>
