<mat-card class="card">
  <mat-progress-bar
    *ngIf="isDataLoaded"
    color="primary"
    mode="indeterminate"
  ></mat-progress-bar>
  <mat-card-content class="card-padding">
    <div class="row">
      <div class="col-lg-12">
        <div class="headline-5 text-center" style="font-weight: 500">
          Text to Speech
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="subtitle-1 text-center">
          Audio transcription for your text
        </div>
      </div>
    </div>

    <app-audio-player
      *ngIf="!isDataLoaded"
      [audioUrl]="audioUrl"
      [audioFile]="audioFile"
      [type]="2"
    ></app-audio-player>

    <div class="row spacing-level-4">
      <div class="col-lg-12">
        <div
          class="body-2 p-4"
          style="background-color: #f9f9f9; border-radius: 12px"
        >
          {{ data.inputText }}
        </div>
      </div>
    </div>

    <div class="row spacing-level-4">
      <div class="col-lg-12 d-flex">
        <div class="m-auto d-flex">
          <button
            (click)="close()"
            color="primary"
            class="button mx-2"
            mat-stroked-button
            matStepperPrevious
          >
            Close
          </button>
          <button (click)="downloadBlob(audioFile,'wave_vox_text_to_speech')" color="primary" class="button" mat-flat-button>
            Download
          </button>
        </div>
      </div>
    </div>
  </mat-card-content></mat-card
>
