<div class="main-container">
  <mat-toolbar class="py-3 toolbar" style="background-color: #fff">
    <img src="../../../assets/images/logo.svg" alt="" />
    <span class="toolbar-spacer"></span>
    <div>
      {{ title }}
    </div>
    <span class="toolbar-spacer"></span>
    <button mat-raised-button class="button mx-2" (click)="login()">
      Sign in
    </button>
    <button
      mat-raised-button
      class="button"
      color="primary"
      (click)="register()"
    >
      Sign up
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="h-100 m-auto">
    <mat-sidenav [mode]="'side'" opened class="mat-side-nav">
      <mat-nav-list>
        <!-- Text to Speech -->
        <div>
          <div class="center-icon" (click)="selectNavItem(1, 'text-to-speech')">
            <div
              class="nav-icon center-icon"
              [ngClass]="
                selectedNavItem == 1 ? 'nav-bar-active' : 'nav-bar-deactivate'
              "
            >
              <span class="material-symbols-outlined"> text_to_speech </span>
            </div>
          </div>
        </div>
        <!-- Speech to Text -->
        <div>
          <div class="center-icon" (click)="selectNavItem(2, 'speech-to-text')">
            <div
              class="nav-icon center-icon"
              [ngClass]="
                selectedNavItem == 2 ? 'nav-bar-active' : 'nav-bar-deactivate'
              "
            >
              <span class="material-symbols-outlined">speech_to_text</span>
            </div>
          </div>
        </div>
        <!-- Audio Modifier -->
        <div>
          <div class="center-icon" (click)="selectNavItem(3, '')">
            <div
              class="nav-icon center-icon"
              [ngClass]="
                selectedNavItem == 3 ? 'nav-bar-active' : 'nav-bar-deactivate'
              "
            >
              <span class="material-symbols-outlined"> graphic_eq </span>
            </div>
          </div>
        </div>
        <!-- Audio Library -->
        <div>
          <div class="center-icon" (click)="selectNavItem(4, 'library')">
            <div
              class="nav-icon center-icon"
              [ngClass]="
                selectedNavItem == 4 ? 'nav-bar-active' : 'nav-bar-deactivate'
              "
            >
              <span class="material-symbols-outlined"> library_music </span>
            </div>
          </div>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="main-background-color p-4">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
